/* You can add global styles to this file, and also import other style files */

body {
  margin-bottom: 10px;
  font-size: 15px;
  color: #696969;
  font: "roboto";
}

.input-group {
  margin-bottom: 10px;
}

.form-compact {
  padding: 0 350px 50px;
}

.container-fluid {
  min-height: 500px;
}

.container-fluid.no-padding {
  padding: 0;
}

.jumbotron {
  color: inherit;
  background-color: inherit;
  padding-left:250px;
  padding-right: 250px;
  border-radius: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-top {
    vertical-align: top!important;
}

.align-middle {
    vertical-align: middle!important;
}
