<div class="container-fluid no-padding">
  <nav class="navbar navbar-dark bg-danger fixed-horizon">
    <div class="nav navbar-nav">
      <div class="col-md-2">
        <a routerLink="/" class="nav-item nav-link" >
          GeorgeSolutions <small><i>HRIS</i></small>
        </a>
      </div>
      <div class="col-md-8">
        <!--Timekeeping menu-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Timekeeping
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Timekeeping
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                View Attendance
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Create Change Time-in/out Request
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Approve Time in-out Request
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Attendance Report
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Approve Time in-out Request
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Attendance Report
              </a>
            </div>
          </div>
        </div>
        <!--Timekeeping menu end-->
        <!--Leave menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Leave
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Leave Management
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Create Request
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                My Requests
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Approve Requests
              </a>
            </div>
          </div>
        </div>
        <!--Leave menu end-->
        <!--Overtime menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Overtime
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Overtime Management
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Create Request
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                My Requests
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Approve Requests
              </a>
            </div>
          </div>
        </div>
        <!--Overtime menu end-->
        <!--Payroll menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Payroll
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5">
              <a class="list-group-item header nav-item nav-link">
                Payroll
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                View Payslips
              </a>
            </div>
          </div>
        </div>
        <!--Payroll menu end-->
        <!--Resource Booking menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Resource Booking
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Resource Booking
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Calendar
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Bookings
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Reports
              </a>
            </div>
          </div>
        </div>
        <!--Resource Booking menu end-->
        <!--Skill Inventory menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Skill Inventory
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Skill Inventory
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                My CV
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                View Opportunities
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Create Opportunities
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                Export CVs
              </a>
            </div>
          </div>
        </div>
        <!--Skill Inventory menu end-->
        <!--Employee Management menu start-->
        <div class="sub-navbar">
          <div class="parent-nav">
            <a routerLink="/timekeeping" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
              Employee Management
            </a>
          </div>
          <div class="child-nav child-nav-fluid">
            <div class="list-group child-nav-item col-md-5" [class.br]="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Employee Management
              </a>
              <a routerLink="/timekeeping" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                My Profile
              </a>
            </div>
            <div class="list-group child-nav-item col-md-5" *ngIf="auth.loggedIn && auth.isAdmin">
              <a class="list-group-item header nav-item nav-link">
                Admin Privileges
              </a>
              <a routerLink="/admin" class="list-group-item nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.loggedIn && auth.isAdmin">
                View/Add Employees
              </a>
            </div>
          </div>
        </div>
        <!--Employee Management menu end-->

        <!--<a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-list"></i> Cats
        </a>-->
      </div>
      <div class="col-md-2 small">
        <div *ngIf="!auth.loggedIn">
          <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign in</a>
          <a class="nav-item nav-link" style="text-decoration: none; cursor: default;">or</a>
          <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Join</a>
        </div>
        <div *ngIf="auth.loggedIn">
          <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active">{{auth.currentUser.username}}</a>
          <a class="nav-item nav-link" style="text-decoration: none; cursor: default;">|</a>
          <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active">Sign out</a>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <footer></footer>
</div>
