.navbar {
  border-radius: 0;
  left: 0;
  padding: 0;
  right: 0;
  top: 0;
}

.nav-item {
  padding: 25px 10px 25px;
}

.sub-navbar:hover .child-nav.child-nav-fluid {
  visibility: visible;
  opacity: 1;
}

.child-nav-fluid {
  background-color: #fff;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  display: block;
  padding: 15px;
  position: absolute;
  width: 100%;
  top:100%;
  min-height: 130px;
  max-height: 220px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.child-nav-item {
  margin-right: 30px;
  height: 100%;
}

.child-nav-item.br {
  border-right: 1px solid #8C8C8C;
}

.child-nav-item.bl {
  border-left: 1px solid #8C8C8C;
}

.child-nav .nav-item.nav-link {
  color:inherit;
  margin:0;
}

.child-nav a.nav-item.nav-link.header:hover {
  color:inherit;
  background-color: inherit;
  cursor: default;
}

.child-nav a.nav-item.nav-link.active:hover {
  color:#979797;
  background-color: inherit;
}

.child-nav a.nav-item.nav-link.active {
  color:inherit;
  background-color: inherit;
}

.list-group-item {
  color: inherit;
  border-style: none;
  text-decoration: none;
  background-color: inherit;
  line-height: 10px;
  width:100%;
}

.list-group-item.header {
  font-weight: bold;
  padding-bottom: 20px!important;
}

.list-group-item.nav-item {
  padding: 8px;
}
