<app-toast [message]="toast.message"></app-toast>
<div class="container">
  <div class="jumbotron text-center">
    <h2>Welcome to George Solutions <small><i>HRIS</i></small></h2>
    <small>Take the first step towards something <mark>great</mark>.</small>
  </div>
  <div class="form-compact">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group" [ngClass]="setClassFirstname()">
          <input class="form-control" type="text" name="firstname" formControlName="firstname" placeholder="First Name" [autofocus]>
        </div>
        <div class="form-group" [ngClass]="setClassLastname()">
          <input class="form-control" type="text" name="lastname" formControlName="lastname" placeholder="Last Name">
        </div>
        <div class="form-group" [ngClass]="setClassUsername()">
          <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username">
        </div>
        <div class="form-group" [ngClass]="setClassEmail()">
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group" [ngClass]="setClassPassword()">
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
          <select class="form-control" name="role" formControlName="role">
            <option value="" selected disabled>Role</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="text-center small p-2">
          By clicking Join, you agree to the User Agreement, Privacy Policy, and Cookie Policy.
        </div>
        <div class="text-center small p-1">
          <button class="btn btn-primary btn-lg" type="submit" [disabled]="!registerForm.valid">Join</button>
        </div>
      </form>
  </div>
</div>
