<div *ngIf="message.body" class="alert alert-{{message.type}} alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong><i class="fa fa-bell pr-1"></i></strong> {{message.body}}
</div>
