.footer {
  padding: 30px 30px 350px 30px;
  background-color: #312F2F;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
	border-top: 1px solid #8c8b8b;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
  border-style: none;
  background-color: inherit;
}

i.fa {
  padding-left: 20px;
  font-size: 100px;
}
