<div class="footer text-center">
  <div class="col-md-12" >
    <div class="products ">
      <ul class="list-group-horizontal">
        <li class="list-group-item">George Solutions® Brands:</li>
        <li class="list-group-item">Real Estate Reservation System | ERP | Inventory System | Personal Dashboard</li>
      </ul>
    </div>
  </div>

  <div class="col-md-12" >
      <div class="jumbotron">
        <small class="text-right align-top" style="margin-left:-20px;">Follow us on:</small>
        <i class="fa fa-facebook-square text-large" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </div>
      <ul class="list-group-horizontal">
        <li class="list-group-item text-uppercase"> ABOUT </li>
        <li class="list-group-item"> RESEARCH </li>
        <li class="list-group-item"> JOBS </li>
        <li class="list-group-item"> HELP </li>
        <li class="list-group-item"> ADVERTISE </li>
        <li class="list-group-item"> USER AGREEMENT </li>
        <li class="list-group-item"> PRIVACY POLICY </li>
        <li class="list-group-item"> COOKIE POLICY </li>
        <li class="list-group-item"> TOURISM </li>
      </ul>
      <hr>
      © 2017 George Solutions
    </div>
  <div class="col-md-2"></div>
</div>
