<div class="container-fluid">
  <app-toast [message]="toast.message"></app-toast>
  <div class="container">
    <div class="jumbotron text-center">
      <h2>Welcome to George Solutions <small><i>HRIS</i></small></h2>
    </div>
    <div class="form-compact">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group" [ngClass]="setClassUsername()">
            <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username or Email" [autofocus]>
          </div>
          <div class="form-group" [ngClass]="setClassPassword()">
            <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
          </div>

          <div class="pb-3">
            <div class="col-md-6" style="padding-left:0; padding-right:0; float:left;">
              <label class="checkbox pb-1">
                <span [ngClass]="setClassRemember()"><input class="checkbox" type="checkbox" (change)="remember = !remember" [checked]="remember"></span>
                <span class="small pl-2"> Remember me </span>
              </label>
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
            </div>
            <div class="col-md-6 small text-right">
              <div>
                <a>Forgot password?</a>
              </div>
              <div>
                Not a member? <a routerLink="/register" > Join now </a>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
