label.checkbox {
  cursor: pointer;
}

input[type=checkbox] {
  margin-left:-999px;
}

.jumbotron {
  padding-bottom: 15px;
}

.checkbox-helper {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    font-size: 15px;
    color: #0275d8;
    position: absolute;
    top: 3px;
    background-color: #fff;
    border: 2px solid #0275d8;
    margin-right: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.checkbox-helper-checked{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    font-size: 15px;
    color: #0275d8;
    position: absolute;
    top: 3px;
    background-color: #fff;
    border: 2px solid #0275d8;
    margin-right: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
